<div class="title">
    <h5>Hello, World.</h5>
    <h1>Nick ZoZor</h1>
    <p class="intro-position">
        <span>Front-end Developer</span>
    </p>
    <div class="techno">
        <fa-icon [icon]="faAngular"></fa-icon>
        <fa-icon [icon]="faJs"></fa-icon>
        <fa-icon [icon]="faNodeJs"></fa-icon>
        <fa-icon [icon]="faHtml5"></fa-icon>
        <fa-icon [icon]="faCss3"></fa-icon>
        <fa-icon [icon]="faSass"></fa-icon>
    </div>
    <button mat-stroked-button>More about me</button>
    <nz-about-me></nz-about-me>     
</div>