:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

div {
    font-weight: bold;
    letter-spacing: -3px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    
    h1 {
        margin: 0;
        line-height: 88px;
        font-size: 84px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    h5 {
        // color: #19c6b8;
        // color: #cc005f;
        color: #f2473e;
        font-size: 23px;
        line-height: 1.565;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: .3rem;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }

    p {
        font-family: "Lora", serif;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-top: 0;
        
        span {
            &:before {
                content: "|";
                text-align: center;
                display: inline-block;
                padding: 0 14px 0 8px;
                color: rgba(255, 255, 255, 0.3);
            }

            &:after {
                content: "|";
                text-align: center;
                display: inline-block;
                padding: 0 14px 0 8px;
                color: rgba(255, 255, 255, 0.3);
            }
            
        }
    }

    .techno {
        font-size: 50px;
        margin-top: 30px;
        
        .ng-fa-icon {
            margin: 60px 15px;
        }
    }
}