:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

div {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -3px;
}